body{
    background-color: gray;
}
.a {
    background-color: #A30000;
}
.b {
     background-color: #D10000;
}
.c {
    background-color: #FF0000
}
.d {
    background-color: #FF2E2E;
}
.e {
    background-color: #FF5C5C;
} 
.f {
    background-color: #FF8A8A;
}
.g {
    background-color: #FFB8B8;
}