body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(270deg, #ff512f, #dd2476, #24c6dc);
  background-size: 600% 600%;
  animation: gradientMove 8s ease infinite;
}
@keyframes gradientMove {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 100px;
  position: relative;
  text-align: center;

}


div {
    height: 200px;
    width: 200px;
    border: 2px solid balck;
}
.leftb {
  top: 40%;
    background-color: yellow ;
    opacity: 0.8;
    position: absolute;
    animation: moveBox 2s alternate;
    animation-duration: 3s;
    z-index: 1;
}


.rightb {
    top: 40%;
    background-color:blue;
    opacity: 0.8;
    position: absolute;
    right: 0%;
    animation : box2 alternate;
    animation-duration: 3s ;

}

@keyframes box2 {
  from{ right: 0%;}
  to {right: calc(50% - 100px ); background-color: rgb(29, 231, 29)}
}
@keyframes moveBox {
  from { left: 0%;}
  to {left: calc(50% - 100px );background: rgb(29, 231, 29);}
}
